In [ ]:
import pandas as pd
filter_file= pd.read_csv('filtered_file.csv')
filter_file

,ID,Date_start_contract,Date_last_renewal,Date_next_renewal,Date_birth,Date_driving_licence,Distribution_channel,Seniority,Policies_in_force,Max_policies,...,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight
0,6,29/05/2006,29/05/2016,29/05/2017,21/10/1966,10/09/1990,0,13,1,2,...,0,0,2006,87,1598,9927.00,4,P,4.250,1055
1,6,29/05/2006,29/05/2017,29/05/2018,21/10/1966,10/09/1990,0,13,1,2,...,0,0,2006,87,1598,9927.00,4,P,4.250,1055
2,6,29/05/2006,29/05/2018,29/05/2019,21/10/1966,10/09/1990,0,13,1,2,...,0,0,2006,87,1598,9927.00,4,P,4.250,1055
3,7,11/02/2015,11/02/2016,11/02/2017,14/05/1946,24/03/2000,1,3,1,1,...,0,0,2009,109,1396,16550.00,5,P,4.245,1168
4,8,28/05/2001,28/05/2016,28/05/2017,11/05/1941,01/08/1962,0,18,1,2,...,0,0,2001,130,1984,27330.00,4,P,4.547,1310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68954,53435,04/12/2017,04/12/2017,04/12/2018,12/03/1986,26/02/2016,0,2,2,2,...,0,0,2005,140,1968,28050.00,5,D,4.458,1489
68955,53441,22/11/2017,22/11/2017,22/11/2018,08/02/1964,06/05/1982,0,2,1,1,...,0,0,1991,60,1389,11575.49,5,P,4.050,995
68956,53441,22/11/2017,22/11/2018,22/11/2019,08/02/1964,06/05/1982,0,2,1,1,...,0,0,1991,60,1389,11575.49,5,P,4.050,995
68957,53442,19/06/2018,19/06/2018,19/06/2019,01/04/1969,25/03/1988,0,1,1,1,...,1,1,1999,135,1998,21239.77,5,P,4.740,1453
68958,53459,30/04/2018,30/04/2018,30/04/2019,13/10/1995,09/07/2015,0,1,2,2,...,0,0,1999,110,1896,20043.75,5,D,4.149,1296

In [ ]:
filter_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68959 entries, 0 to 68958
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    68959 non-null  int64
 1   Date_start_contract   68959 non-null  object
 2   Date_last_renewal     68959 non-null  object
 3   Date_next_renewal     68959 non-null  object
 4   Date_birth            68959 non-null  object
 5   Date_driving_licence  68959 non-null  object
 6   Distribution_channel  68959 non-null  int64
 7   Seniority             68959 non-null  int64
 8   Policies_in_force     68959 non-null  int64
 9   Max_policies          68959 non-null  int64
 10  Max_products          68959 non-null  int64
 11  Lapse                 68959 non-null  int64
 12  Date_lapse            24846 non-null  object
 13  Payment               68959 non-null  int64
 14  Premium               68959 non-null  float64
 15  Cost_claims_year      68959 non-null  float64
 16  N_claims_year         68959 non-null  int64
 17  N_claims_history      68959 non-null  int64
 18  R_Claims_history      68959 non-null  float64
 19  Type_risk             68959 non-null  int64
 20  Area                  68959 non-null  int64
 21  Second_driver         68959 non-null  int64
 22  Year_matriculation    68959 non-null  int64
 23  Power                 68959 non-null  int64
 24  Cylinder_capacity     68959 non-null  int64
 25  Value_vehicle         68959 non-null  float64
 26  N_doors               68959 non-null  int64
 27  Type_fuel             67937 non-null  object
 28  Length                64414 non-null  float64
 29  Weight                68959 non-null  int64
dtypes: float64(5), int64(18), object(7)
memory usage: 15.8+ MB